.package-card {
  opacity: 0;
  transform: scale(0.95);
  transition: transform 0.5s ease, opacity 0.5s ease;
  
}

.package-card.visible {
  opacity: 1;
  transform: scale(1);
}
@keyframes zoomIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 1.4s ease-in-out forwards;
}
