.monthly-stats-container {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* Tailwind shadow equivalent */
  }
  .statbackground{
    background-color: #F4FFF5;
  }
  
  .h-60 {
    height: 15rem; /* Equivalent to Tailwind's h-60 (240px) */
  }
  
  .row.gap-4 {
    gap: 1.5rem; /* Equivalent to Tailwind's gap-6 (24px) */
  }